
<%- include('partials/header'); -%>
 <div class="container">
    <div class="row">
        <% for (var i=0;i<mails.length;i++){ %>
            <div class="col-sm-12 col-md-12 col-lg-12 inline-photo show-on-scroll p-1 ml-1 mr-1 mt-3 mb-3 ">
                <div class="card text-center">
                    <div class="card-header">
                      To : Vedant
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Subject : Going out</h5>
                      <p class="card-text" id="vertical-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content</p>
                     <!-- Split dropright button -->
                     <div class="row">
                         <div class ="col-4">
                            <div class="dropdown mt-1 mb-1 ml-2 mr-5">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CC
                                </a>
                            
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4">
                      <div class="dropdown mt-1 mb-1 ml-2 mr-5">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          BCC
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                    <!-- if(mails[i]["sent"]==True){ -->
                    <div class="card-footer text-muted">
                      2 days ago
                    </div>
                  </div>
            </div>
            <% } %>
    </div>
</div>

<%- include('partials/footer'); -%>